<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rakapermanaputra.popcorn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".feature.home.morepopular_discover.MoreDiscoverActivity"></activity>
        <activity android:name=".feature.home.morepopular_tv.MorePopularTvActivity" />
        <activity android:name=".feature.home.morepopular_movie.MorePopularActivity" />
        <activity
            android:name=".feature.detail.detail_people.DetailPeopleActivity"
            android:theme="@style/AppTheme.NoActionBar.Detail" />
        <activity
            android:name=".feature.detail.detail_tv.DetailTvActivity"
            android:theme="@style/AppTheme.NoActionBar.Detail" />
        <activity
            android:name=".feature.detail.detail_movie.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar.Detail" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>